{
    "port": 3333,
    "handlers": {
        "gitlab": {
            "events": {
                "push": [
                    {
                        "hook": "url_part",
                        "secret": "secret_pass",
                        "script_path": "path_to_script"
                    }
                ]
            }
        },
        "bitbucket": [
            {
                "hook": "url_part",
                "hook_uuid": "X-Hook-UUID",
                "events": {
                    "push": [
                        {
                            "branch": "branch_name",
                            "script_path": "path_to_script"
                        }
                    ]
                }
            }
        ]
    },
    "slack": {
        "webhook_url": "slack_webhook_url",
        "defaults": {}
    }
}